 body {display: inline-block;

        }

   .uno{   background-image:url(../img/profile-1.png);
           position: absolute;
   	     top:100px;
   	     left: 200px;
   	     width: 200px;
   	     height: 200px;
           color: white; 
   	     }
   	
   .dos{   background-image:url(../img/profile-2.png);
           position: absolute;
   	     top: 100px;
   	     left: 420px;
   	     width: 200px;
   	     height: 200px;
           color: white;  } 

   .tres{   background-image:url(../img/profile-3.png);
            position: absolute;
   	      top: 100px;
   	      left: 640px;
   	      width: 200px;
   	      height: 200px;
            color: white;  } 

   .cuatro{   background-image:url(../img/profile-4.png);
              position: absolute;
   	        top: 320px;
   	        left: 200px;
   	        width: 200px;
   	        height: 200px;
              color: white;  }

   .cinco{ background-image:url(../img/profile-5.png);
           position: absolute;
   	     top: 320px;
   	     left: 420px;
   	     width: 200px;
   	     height: 200px;
           color: white;  } 

   .seis {   background-image:url(../img/profile-6.png);
             position: absolute;
   	       top: 320px;
   	       left: 640px;
   	       width: 200px;
   	       height: 200px;
             color: white; 
          }

    h6 { width: 200px;
         height:10px;
         left: 0;
         bottom: 0;
         top: 160px;
         text-align: right;
         position: relative;
         font-style: arial ;
      }        




        



